{% extends "base.html" %}
{% block start %}

<div class="container mt-5" style="margin-bottom:50px">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    <h2>Add Receipe</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Reciepe Name</label>
      <input type="text" required name="receipe_name" class="form-control"  >
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Reciepe Description</label>
      <textarea class="form-control" name="receipe_description" required ></textarea>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Reciepe Image</label>
        <input type="file" class="form-control" name="receipe_image" >
      </div>


    <button type="submit" class="btn btn-primary">Add Receipe</button>
  </form>

</div>


{% comment %} {{receipes}} {% endcomment %}

<div class="mt-5 ">
  <div class="mx-auto col-6">
    <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search Food</label>
      <input type="text"  name="search" class="form-control"  >
      
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  </div>

</div>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Receipe Name</th>
      <th scope="col">Receipe Description</th>
      <th scope="col">Receipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%for ob in receipes%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ob.receipe_name}}</td>
      <td>{{ob.receipe_description}}</td>
      <td><img src="/media/{{ob.receipe_image}}" height=20px></td>
      <td> 
        <a href="/delete-receipe/{{ob.id}}/" class="btn btn-danger" >Delete</a>
      </td>

      <td> 
        <a href="/update-receipe/{{ob.id}}/" class="btn btn-success" >Update</a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endblock %}